################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
noconfigure=True
recipe = minitage.recipe.cmmi
#cygwin mirror sunrpc -> inside the src aqrchive
url = http://distfiles.minitage.org/public/externals/minitage/rpcsrc_40.tar.gz
md5sum=96ed110752aa8eab70d4e3901f12892a

# construct ddl
cygwin-patches=${buildout:directory}/sunrpc-4.0-dll.patch

